<div role="alert" class="alert alert-info">
    <span class="fa fa-info-circle"></span>
    <strong>Please wait while the page loads. If the page has loaded and this message is still visible there is no data.</strong>
</div>